%h2= "Bookmark"
%div.bookmark
	%ul
		%li
			%label= "Url:"
			=@bookmark.url
		%li
			%label= "Title:"
			=@bookmark.title
		%li
			%label= "Bitly:"
			=@bookmark.tinyurl
	-unless @bookmark.tags.empty?
		%p 
			%label= "Tags:"
			=@bookmark.tag_list
		
= link_to "Back",  site_bookmarks_path
      
